<%- include('partials/header') %>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <p>Esta es la página principal de la aplicación.</p>
              <p>Es una pequeña app montada en node.js que muestra las capacidades para generar un sitio web.</p>
              <p>La app muestra una pagina principal, una secundaria y un form de contacto.</p>
              
           
          </div>
      </div>
  </div>
</main>
  <%- include('partials/footer') %>